.stars {
  margin-bottom: 10px;
}
.stars__item:before {
  font-family: FontAwesome;
  content: "\f005";
  font-size: 16px;
}
.stars__item.active:before {
  color: #ffa800;
}
.stars__item.notActive:before {
  color: #d3d3d3;
}
